<%- include("_layout_header") %>

<% if(articles.length == 0) { %>
    <div class="jumbotron mt-5">
        <center><h1>Wow, Such Empty</h1></center>
        <center><b><p class="">Create an Article Now!</p></b></center>
        <center><a href="/articles/create" class="btn btn-secondary">New Article</a></center>
    </div>
<% } else { %>
    <div class="container">
        <% articles.forEach(article => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title ml-2"><%= article.title %></h4>
                    <div class="car-subtitle text-muted mb-2 ml-2">
                        by <%= article.username %> on 
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2 ml-2">
                        <%= article.description %>
                    </div>
                    <a href="/articles/show/<%= article.id %>" class="btn btn-primary ml-2">Read</a>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>

<%- include("_layout_footer") %>
